* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 90vh;
  padding-inline: 5vw;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.dock {
  padding: 2px 4px;
  border-radius: 16px;
  border: solid 3px rgb(148, 148, 148);
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
}
.dock ul {
  display: flex;
  align-items: end;
  list-style: none;
}

.app {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 200ms ease-out;
}

.app:hover {
  width: 90px;
  height: 90px;
  margin-top: -30px;
}

.app:has(+ .app:hover),
.app:hover + .app {
  width: 80px;
  height: 80px;
  margin-top: -20px;
}

.app:has(+ .app + .app:hover),
.app:hover + .app + .app {
  width: 70px;
  height: 70px;
  margin-top: -10px;
}

.icon {
  width: 100%;
  height: 100%;
}

.appName {
  padding: 5px 10px;
  position: absolute;
  top: -33px;
  text-align: center;
  text-wrap: nowrap;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  opacity: 0;
}

.app:hover .appName {
  opacity: 1;
}